<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="1001" value="瓦斯传感器"/>
    <add key="1002" value="环境高低浓甲烷"/>
    <add key="1003" value="风速传感器"/>
    <add key="1004" value="温度传感器"/>
    <add key="1005" value="风压传感器"/>
    <add key="1006" value="负压传感器"/>
    <add key="1007" value="水位传感器"/>
    <add key="1008" value="粉尘传感器"/>
    <add key="1009" value="氧气传感器"/>
    <add key="1010" value="一氧化碳传感器"/>
    <add key="1011" value="二氧化碳传感器"/>
    <add key="1012" value="管道瓦斯传感器"/>
    <add key="1013" value="管道温度传感器"/>
    <add key="1014" value="管道负压传感器"/>
    <add key="1015" value="管道流量传感器"/>
    <add key="1016" value="红外瓦斯传感器"/>
    <add key="1017" value="激光瓦斯传感器"/>
  </appSettings>
</configuration>